@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: 'mousavi-light';
  default: false;
  prefersdark: false;
  color-scheme: 'light';

  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(94% 0.01 260);
  --color-base-300: oklch(91% 0.015 250);
  --color-base-content: oklch(23% 0.05 260);

  --color-primary: oklch(74% 0.12 230);
  --color-primary-content: oklch(28% 0.06 230);

  --color-secondary: oklch(78% 0.15 300);
  --color-secondary-content: oklch(30% 0.06 300);

  --color-accent: oklch(88% 0.12 280);
  --color-accent-content: oklch(35% 0.05 280);

  --color-neutral: oklch(27% 0.03 260);
  --color-neutral-content: oklch(92% 0.02 260);

  --color-info: oklch(70% 0.14 230);
  --color-success: oklch(72% 0.15 160);
  --color-warning: oklch(80% 0.16 90);
  --color-error: oklch(60% 0.21 30);

  --radius-selector: 0.75rem;
  --radius-field: 1rem;
  --radius-box: 0.75rem;

  --size-selector: 0.3rem;
  --size-field: 0.3rem;

  --border: 1.5px;
  --depth: 0.6;
  --noise: 0;
}


/* DARK THEME */
@plugin "daisyui/theme" {
  name: "personal-minimal-dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";

  --color-base-100: oklch(22% 0.02 260);
  --color-base-200: oklch(18% 0.02 260);
  --color-base-300: oklch(14% 0.02 260);
  --color-base-content: oklch(92% 0.01 260);

  --color-primary: oklch(72% 0.17 230);
  --color-primary-content: oklch(20% 0.03 230);

 --color-secondary: oklch(68% 0.18 300);
  --color-secondary-content: oklch(18% 0.03 300);

  --color-accent: oklch(80% 0.14 280);
  --color-accent-content: oklch(25% 0.04 280);

  --color-neutral: oklch(26% 0.015 260);
  --color-neutral-content: oklch(92% 0.01 260);

  --color-info: oklch(70% 0.14 235);
  --color-success: oklch(68% 0.14 160);
  --color-warning: oklch(78% 0.16 90);
  --color-error: oklch(63% 0.22 20);

  --radius-selector: 0.75rem;
  --radius-field: 1rem;
  --radius-box: 0.75rem;

  --size-selector: 0.3rem;
  --size-field: 0.3rem;

  --border: 1.5px;
  --depth: 0.5;
  --noise: 0.03;
}
